{{> _layout_system_status-top title="Zustand - Laufwerke"}}
<h1>Laufwerke</h1>
<table>
    <thead>
    <tr>
        <th>Computer</th>
        <th>Laufwerk</th>
        <th>Bezeichnung</th>
        <th>Dateisystem</th>
        <th>Kapazität</th>
        <th>Frei</th>
        <th>Belegt</th>
        <th>%-Belegung</th>
    </tr>
    </thead>
    <tbody>
    {{#each volumes}}
        <tr>
            <td><a href="/clients/{{this.uuid}}">{{this.computer_name}}.{{this.domain_name}}</a></td>
            <td>{{this.drive_letter}}</td>
            <td>{{this.label}}</td>
            <td>{{this.file_system}}</td>
            <td>{{this.capacity}}</td>
            <td>{{this.free_space}}</td>
            <td>{{this.occupied_space}}</td>
            <td>{{this.occupied_percentage}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{> _layout_system_status-bottom}}