{{> _layout_hardware-top title="Hardware - Clients"}}
<div class="hardware-table">
    <h1>{{headline}}</h1>
    <table>
        <thead>
            <tr>
                <th>Computer</th>
                <th>Seriennummer</th>
                <th>BIOS-Hersteller</th>
                <th>BIOS-Name</th>
                <th>BIOS-Version</th>
            </tr>
        </thead>
        <tbody>
        {{#each clients}}
            <tr>
                <td><a href="/clients/{{this.[0].uuid}}">{{this.[1].computer_name}}.{{this.[1].domain}}</a></td>
                <td>{{this.[3].serial_number}}</td>
                <td>{{this.[2].manufacturer}}</td>
                <td>{{this.[2].name}}</td>
                <td>{{this.[2].version}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_hardware-bottom}}
