{{> _layout_hardware-top title="Hardware - Festplatten"}}
<div class="hardware-table">
    <h1>Festplatten</h1>
    <div class="filters">

    </div>
    <table>
        <thead>
        <tr>
            <th>Model</th>
            <th>Seriennummer</th>
            <th>Größe</th>
            <th>Geräte-ID</th>
            <th>Status</th>
            <th>Media Type</th>
        </tr>
        </thead>
        <tbody>
        {{#each disks}}
            <tr>
                <td>{{this.model}}</td>
                <td>{{this.serial_number}}</td>
                <td>{{this.size}}</td>
                <td>{{this.device_id}}</td>
                <td>{{this.status}}</td>
                <td>{{this.media_type}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_hardware-bottom}}
