{{> _layout_hardware-top title="Hardware - Arbeitsspeicher"}}
<div class="hardware-table">
    <h1>Arbeitsspeicher</h1>
    <div class="filters">

    </div>
    <table>
        <thead>
        <tr>
            <th>Gesamtkapazität</th>
            <th>Anzahl Module</th>
            <th>Anzahl Geräte</th>
        </tr>
        </thead>
        <tbody>
        {{#each memory}}
            <tr>
                <td>{{this.capacity}}</td>
                <td>{{this.sticks}}</td>
                <td><a href="/hardware/memory/{{this.capacity_raw}}/{{this.sticks}}">{{this.count}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_hardware-bottom}}
