{{> _layout_software-top title="Betriebssystem"}}
<div class="os-table">
    <h1>{{os_name}}</h1>
    <div class="filters">

    </div>
    <table>
        <thead>
        <tr>
            <th>Computer-Name</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        {{#each os_computer}}
            <tr>
                <td><a href="/clients/{{this.[1].uuid}}">{{this.[0].computer_name}}.{{this.[0].domain}}</a></td>
                <td><a href="/software/os/{{this.[0].os}}/version/{{this.[0].os_version}}">{{this.[0].os_version}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_software-bottom}}