{{> _layout_software-top title="Betriebssystem"}}
<div class="os-table">
    <h1>{{os_name}}</h1>
    <div class="filters">

    </div>
    <table>
        <thead>
        <tr>
            <th>Computer-Name</th>
            <th>Version</th>
        </tr>
        </thead>
        <tbody>
        {{#each os_computer}}
            <tr>
                <td><a href="/clients/{{this.client.uuid}}">{{this.os_info.computer_name}}.{{this.os_info.domain}}</a></td>
                <td><a href="/software/os/{{this.os_info.os}}/version/{{this.os_info.os_version}}">{{this.os_info.os_version}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_software-bottom}}