{{> _layout_software-top title="Software"}}
<div class="software-table">
    <h1>{{software_info.name}}</h1>
    <p>Publisher: {{software_info.publisher}}
    <p>Version: {{software_version.version}}
    <div class="filters">

    </div>
    <table>
        <thead>
            <tr>
                <th>Computer</th>
            </tr>
        </thead>
        <tbody>
        {{#each software_versions_list}}
            <tr>
                <td><a href="/clients/{{this.[0].uuid}}">{{this.[1].computer_name}}.{{this.[1].domain}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_software-bottom}}