{{> _layout_software-top title="Software-Info" }}
<div class="software-table">
    <h1>{{software_info.name}}</h1>
    <p>Publisher: {{software_info.publisher}}</p>
    <p><a href="/software/software/{{software_info.id}}/computer">Computer-Liste</a></p>
    <div class="filters">

    </div>
    <table>
        <thead>
            <tr>
                <th>Version</th>
                <th>Anzahl Installationen</th>
            </tr>
        </thead>
        <tbody>
        {{#each software_versions}}
            <tr>
                <td><a href="/software/software/{{this.software_id}}/version/{{this.id}}">{{this.version}}</a></td>
                <td>{{this.count}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_software-bottom}}