{{> _layout_client-top title="Client - Profile" client=client os_info=os_info}}
<div class="client-table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Gesundheits-Zustand</th>
                <th title="Pfad">Roaming</th>
                <th>Zuletzt benutzt</th>
                <th>Letzter Download<br/></th>
                <th>Letzter Upload</th>
                <th>Zustand</th>
                <th>Größe</th>
            </tr>
        </thead>
        <tbody>
            {{#each profiles}}
                <tr>
                    <td><a href="/profile/{{this.user_sid}}">{{this.user_domain}}\\{{this.user_name}}</a></td>
                    <td>{{this.health_status}}</td>
                    <td>{{this.roaming_path}}</td>
                    <td>{{this.last_use_time}}</td>
                    <td>{{this.last_download_time}}</td>
                    <td>{{this.last_upload_time}}</td>
                    <td>{{#each this.status}}{{this}}<br/>{{/each}}</td>
                    <td><a href="/clients/{{../client.uuid}}/profiles/{{this.user_sid}}">{{this.size}}</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_client-bottom}}