{{> _layout_client-top title="Client - Software" client=client os_info=os_info}}
<div class="software-table">
    <div class="filters">

    </div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Hersteller</th>
        </tr>
        </thead>
        <tbody>
        {{#each software}}
            <tr>
                <td><a href="/software/software/{{this.[2].[1].id}}">{{this.[2].[1].name}}</a></td>
                <td><a href="/software/software/0/version/{{this.[2].[0].id}}">{{this.[2].[0].version}}</a></td>
                <td>{{this.[2].[1].publisher}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
{{> _layout_client-bottom}}