{{> main-top title="Clients"}}
<div class="client-table">
    <!--<h1>Profile von </h1>-->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Gesundheits-Zustand</th>
                <th title="Pfad">Roaming</th>
                <th>Zuletzt benutzt</th>
                <th>Letzter Download<br/></th>
                <th>Letzter Upload</th>
                <th>Zustand</th>
                <th>Größe</th>
            </tr>
        </thead>
        <tbody>
            {{#each profiles}}
                <tr>
                    <td><a href="/profile/{{this.user_sid}}">{{this.user_name}}</a></td>
                    <td>{{this.health_status}}</td>
                    <td>{{this.roaming_path}}</td>
                    <td>{{this.last_use_time}}</td>
                    <td>{{this.last_download_time}}</td>
                    <td>{{this.last_upload_time}}</td>
                    <td>{{#each this.status}}{{this}}<br/>{{/each}}</td>
                    <td>{{this.size}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{> main-bottom}}