{{> main-top title="Clients"}}
<div class="client-table">
    <h1>{{client.[1].computer_name}}.{{client.[1].domain}}</h1>
    <p>UUID: {{client.[0].uuid}}</p>
    <p>OS: {{client.[1].os}}</p>
    <p>OS-Version: {{client.[1].os_version}}</p>
    <p><a href="/clients/{{client.[0].uuid}}/profiles">Profile</a></p>
</div>
{{> main-bottom}}