{{> main-top title="Profile"}}
<div class="profile-table">
    <div class="filters">

    </div>
    <table>
        <thead>
            <tr>
                <th>Computer</th>
                <th>Gesundheits-Zustand</th>
                <th title="Pfad">Roaming</th>
                <th>Zuletzt benutzt</th>
                <th>Letzter Download<br/></th>
                <th>Letzter Upload</th>
                <th>Zustand</th>
                <th>Größe</th>
            </tr>
        </thead>
        <tbody>
            {{#each profile}}
                <tr>
                    <td><a href="/clients/{{this.client_uuid}}">{{this.os_computer_name}}</a></td>
                    <td>{{this.health_status}}</td>
                    <td>{{this.roaming_path}}</td>
                    <td>{{this.last_use_time}}</td>
                    <td>{{this.last_download_time}}</td>
                    <td>{{this.last_upload_time}}</td>
                    <td>{{#each this.status}}{{this}}<br/>{{/each}}</td>
                    <td>{{this.size}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{> main-bottom}}